@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");

/* Custom Variables */

:root {
  --clr-primary-400: #31c3bd;
  --clr-primary-100: #65e9e4;
  --clr-secondary-400: #f2b137;
  --clr-secondary-100: #ffc860;
  --clr-neutral-900: #10212a;
  --clr-neutral-800: #1a2a33;
  --clr-neutral-700: #1f3641;
  --clr-neutral-500: #6b8997;
  --clr-neutral-400: #a8bfc9;
  --clr-neutral-100: #dbe8ed;
}

/* Reset Default Styling */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-family: "Outfit", sans-serif;
  font-size: 10px;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--clr-neutral-800);
}

/* Utility Classes */
.square {
  aspect-ratio: 1 / 1;
}

/* Text Colors */
.txt-neutral-400 {
  color: var(--clr-neutral-400);
}

/* Background Colors */
.bg-neutral-800 {
  background-color: var(--clr-neutral-800);
}

.bg-neutral-700 {
  background-color: var(--clr-neutral-700);
}

.bg-neutral-400 {
  background-color: var(--clr-neutral-400);
}

/* Insets */

.inset-deep {
  padding-bottom: 0.8rem;
}

.inset-deep.bg-neutral-700 {
  box-shadow: inset 0px -0.8rem 0px var(--clr-neutral-900);
}

.inset-shallow {
  padding-bottom: 0.4rem;
}

.inset-shallow.bg-neutral-700 {
  box-shadow: inset 0px -0.4rem 0px var(--clr-neutral-900);
}

.inset-shallow.bg-neutral-400 {
  box-shadow: inset 0px -0.4rem 0px var(--clr-neutral-500);
}

/* Border Radius */
.radius-15 {
  border-radius: 1.5rem;
}

.radius-10 {
  border-radius: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

/* Typography */
.bold {
  font-weight: 700;
}

.heading {
  line-height: 1.25em;
  letter-spacing: 0.0625em;
}

.xs {
  font-size: 1.6rem;
}
